<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © Forkpoint
        </div>
    </div>
</footer>
<style>
    .page-footer {
        background-color: darkgrey;
        width: 100%;
    }
</style>