<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title></title>
</head>
<nav>
    <div class="nav-wrapper">
        <img src="images/logo-128.png" width="128" height="128"
             alt="logo">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if(locals.navbar) locals.navbar.forEach(function (a){ %>
                <li><a style="text-decoration: none;color:black;font-weight: bolder;font-size:x-large" href="/get-products/<%= a.id %>"> <%= a.name %> </a>
                </li>
            <% }) %>
        </ul>
    </div>
</nav>
<style>
    nav {
        height: 100%;
    }

    .nav-wrapper {
        padding: 20px;
        background-color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
</style>