<!DOCTYPE html>
<html>
<head>
    <title>Online Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%- include("../partials/navbar.ejs") %>
<h1>Online Store</h1>
<section class="get">
    <h3>Get Data</h3>
    <div>

    </div>
</section>
</body>
</html>
